.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

head {
  background-color: black;
  font-color: blue;
  font-family: sans-serif;
}
