@import"https://fonts.googleapis.com/css?family=Muli:400,700,900";@import"https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap";.ql-snow.ql-toolbar:after,.ql-snow .ql-toolbar:after {
    clear: both;
    content: "";
    display: table
}
head {
    font: Muli;
}
